.dicas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: -75px;
  margin-top: 150px;

  .pele {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: -60px;

    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      padding-left: 15px;
      margin-bottom: 10px;
    }

    .ult {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .dicas {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;

    .mujer {
      width: 500px;
    }

    .pele {
      margin-left: 0px;
    }

    .botaoDicas {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
