.pagina-home {
  height: 100vh;
  background-image: url(../../../public/assets/images/face-back.svg);
  background-repeat: no-repeat;
  background-size: cover;

  .veja {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #ffb6cb;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-decoration: none;
    width: 140px;
    padding: 10px 30px;
    margin-left: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #ffc2d4;
  }

  .veja_detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #ffb6cb;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-decoration: none;
    width: 323px;
    padding: 10px 30px;
    margin-left: 15px;
    margin-bottom: 450px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #ffc2d4;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 300px 100px;
    color: #fff;

    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 22px;
      padding-left: 15px;
      margin-bottom: 10px;
    }

    .busque {
      width: 740px;
      margin-bottom: -10px;
    }

    .veja {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #ffb6cb;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      text-decoration: none;
      width: 140px;
      padding: 10px 30px;
      margin-left: 15px;
      border-radius: 8px;
      box-shadow: 0px 0px 15px #ffc2d4;
    }
  }

  .roll {
    margin-top: -40px;
    color: #fff;
  }

  .dicas {
    display: flex;
    align-items: center;
    margin-left: 100px;

    .pele {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin-top: -150px;

      p {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        padding-left: 15px;
        margin-bottom: 10px;
      }

      .ult {
        margin-bottom: 20px;
      }

      
    }
  }

  .depoiments {
    margin-left: 150px;
  }

  .line_one {
    width: 100%;
  }
  .line_two {
    width: 100%;
  }

  .slogan-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 20px;
      max-width: 1100px;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 45px;
    gap: 30px;
    position: relative;


    .circle {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-left: 355px;
      top: 20px;

      background-color: #FFF1F5;
      
      position: absolute;
      z-index: 0;
    }

    .preco {
      position: absolute;
      top: 35px;
      right: 34px;
      z-index: 1;
      font-weight: 700;
    }

    .card {
      width: 450px;
      height: 550px;
      padding: 50px 20px;
      position: relative;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 12px;
      
      background-color: #FFB6CB;
  
      .cilio {
        margin: 20px 0px 10px 0px;
      }

      p {
        font-weight: 700;
        max-width: 85%;
      }
    }
  }

  .cards_encontra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 500px;
      height: 500px;
      border-radius: 12px;
      box-shadow: 0px 0px 15px #ffc2d4;

      .icon {
        width: 120px;
        height: 120px;
        color: #FF85A8;
      }

      p {
        max-width: 300px;
        text-align: center;
        font-weight: 700;
        color: #5C5C5C;
      }
    }

  }

  .agendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background-color: #FF789F;
    margin-top: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;

    .icon {
      width: 17px;
      height: 17px;
    }
  }
 
}
