@import "../../colors.scss";

.pagina-home {
  height: 100vh;
  background-image: url(../../../public/assets/images/face-back.svg);
  background-repeat: no-repeat;
  background-size: cover;

  .slogan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 300px 100px 0px 100px;
    color: $color_white;

    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 22px;
      padding-left: 15px;
      margin-bottom: 10px;
    }

    .busque {
      width: 740px;
      margin-bottom: -10px;
      display: block;
    }

    .busqueMin {
      display: none;
    }
  }

  .roll {
    color: $color_white;
    margin-top: 300px;
  }

  .line_one {
    position: relative;
    width: 100%;
  }

  .line_two {
    width: 100%;
    margin-top: 200px;
  }

  .slogan-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 20px;
      max-width: 1100px;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 45px;
    gap: 30px;
    position: relative;

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-left: 355px;
      top: 20px;

      background-color: $color_gray;

      position: absolute;
      z-index: 0;
    }

    .preco {
      position: absolute;
      top: 35px;
      right: 34px;
      z-index: 1;
      font-weight: 700;
    }
  }

  .encontra {
    margin-bottom: 70px;
  }

  .vantagens {
    margin-top: 100px;

    .cards_encontra {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }

  @media (max-width: 1640px) {
    .olho_depo {
      display: none;
    }
  }

  @media (max-width: 1024px) {

    .roll {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    
    .dicas {
      margin-top: 0px;
    }

    .slogan {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .busque {
        display: none;
      }

      .busqueMin {
        display: block;
        width: 640px;
        margin-top: -150px;
      }

      p {
        text-align: center;
      }

    }
    

    .prg-service {
      width: 750px;
    }
  }

  @media (max-width: 768px) {
    .busqueMin {
      display: block;
      width: 40px;
      margin-top: -150px;
    }
  }
}
