.galeria {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden; 
  height: 500px; 
  align-items: center; 
  background-color: black; 

  .foto {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute; 
    top: 0;
    left: 0;
  }

  .foto.ativa {
    opacity: 1; 
  }

  

  .btn-anterior,
  .btn-proxima {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px; 
    cursor: pointer;
    border-radius: 50%; 
    z-index: 10; 
  }

  .btn-anterior {
    left: 10px; 
  }

  .btn-proxima {
    right: 10px; 
  }

  .btn-anterior:hover,
  .btn-proxima:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  @media (max-width: 768px) {
    
    .galeria {
      height: 300px;
    }

    .foto {
      object-fit: contain; 
    }

    .veja {
      font-size: 12px; 
      padding: 8px;
    }

    .btn-anterior,
    .btn-proxima {
      font-size: 18px;
    }
  }
}
