@import "../../colors.scss";

.comp-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 75px;

  .logo {
    margin-right: -150px;
  }

  &.not-home {
    background-color: $color_pink_shadow;

    .active {
      color: $color_pink_shock;
    }
  }

  .navigation {
    display: flex;
    gap: 30px;
  }

  a {
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 700;
    color: #fff;

    &.active {
      color: #ffb6cb;
    }
  }
}
