@import "../../colors.scss";

.depo {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: $color_white;
  position: relative;
  
  .line_two {
    width: 100%;
  }

  .depoiments {
    margin-left: 170px;
    margin-bottom: 30px;
  }

  .line_one {
    z-index: 0;
    position: relative;
    width: 100%;
  }

  .olho_depo {
    z-index: 1;
    position: absolute;
    left: 750px;
    top: 10px;
  }

  .depoimento {
    position: absolute;
    max-width: 600px;
    top: 170px;
    left: 100px;
  }

  .depoidor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 300px;
    left: 100px;
  }

  .circle {
    background-color: $color_gray;
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }
}