$color_white: #fff;
$color_gray: #FFF1F5;
$color_pink_base: #ffb6cb;
$color_pink_shock: #FF789F;
$color_pink_rede: #FF85A8;
$color_pink_rede_claro: rgb(255, 133, 168, 0.3);
$color_pink_shadow: #ffc2d4;
$color_gray_text: #5C5C5C;
$color_pink_text: #C65273;
$color_pink_search: #FFC1D3;
$color_pink_search_hover: #F8B0C4;
$color_pink_lista: #FFD2DF;
$color_pink_input: #FFA7C0;
$color_pink_input_before: #FF8CAD;
$color_background_agenda: #FFE6ED;
$color_pink_clientes: #9E425C;