$color_white: #fff;
$color_gray: #fff1f5;
$color_pink_base: #ffb6cb;
$color_pink_shock: #ff789f;
$color_pink_rede: #ff85a8;
$color_pink_rede_claro: rgb(255, 133, 168, 0.3);
$color_pink_shadow: #ffc2d4;
$color_gray_text: #5c5c5c;
$color_pink_text: #c65273;
$color_pink_search: #ffc1d3;
$color_pink_search_hover: #f8b0c4;
$color_pink_lista: #ffd2df;
$color_pink_input: #ffa7c0;
$color_pink_input_before: #ff8cad;
$color_background_agenda: #ffe6ed;
$color_pink_clientes: #9e425c;
$color_pink_card_agenda: #ffd8e2;
$color_pink_card_data_agenda: #ffc3d4;
